{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}
{{ block.super }}

{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filters|safe }}
{% endeditable %}


<div class="container">
<div class="row">

{% with page.gallery.images.all as images %}
{% for image in images %}

<div class="gallery col-xs-6 col-sm-3">
    <div data-cycle-fx="fade" data-cycle-loader="wait" data-cycle-timeout="7968"
         data-cycle-slides="> .gallery-item">
        <div class="gallery-item">
            <a class="gallery-group" href="{{ image.file.url }}">
                <img src="{{ MEDIA_URL }}{% thumbnail image.file 131 75 %}" alt="{{ image.description }}"/></a>
        </div>
    </div>
</div>
{% endfor %}
{% endwith %}
</div>
</div>
{% endblock %}
