{% extends "pages/page.html" %}

{% load mezzanine_tags i18n pages_tags %}

{% block banner %}
    {% if on_home %}
        {% page_menu "pages/menus/slides.html" %}
    {% else %}
        <section id="banner" style="background-image: url('/static/media/uploads/immagini/mashid-pittura1.png');">
            <div id="banner-overlay">
                <div class="container">
                    {% with page.richtextpage as richtextpage %}
                    <h1>{% editable richtextpage.title richtextpage.subtitle %}{{ richtextpage.title }}{% endeditable %}</h1>
                    <h2 class="hidden-xs">{{ richtextpage.subtitle }}</h2>
                    {% endwith %}
                </div>
            </div>
        </section>
        {% page_menu "pages/menus/banner.html" %}
        {% page_menu "pages/menus/submenu.html" %}
    {% endif %}
{% endblock %}

{% block main %}
    {{ block.super }}
    {% editable page.richtextpage.content %}
        {{ page.richtextpage.content|richtext_filters|safe }}
    {% endeditable %}
{% endblock %}
