{% extends "base.html" %}
{% load i18n static %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block main %}
    <h1>Welcome to the Janua Waldorf School</h1>

    <p><em>Education from the Inside Out.</em></p>

    <p>Since 1981, the Janua Waldorf School has provided a proven alternative in education for
        children from preschool, kindergarten to Grade 8.  The Waldorf approach works from the
        inside out, focusing on giving children a deep confidence in their own learning process, and
        having a deep sense of wonder and respect for life and learning. Learn more about why so
        many parents like you, choose Waldorf education.</p>

    <p>We’ve built over 35 years of experience educating young minds from the earliest ages. Our
        early years programs are comfortable and home-like, providing a safe and happy learning
        environment for Pre-K children, while our Lower and Middle School programs are focused on
        each stage of a child’s development in these important years.</p>

    <p>Come and discover why JANUA could just be the perfect alternative for your child.</p>

    <p style="text-align: left;"><a class="button" href="http://scuola.janua.it/visit-us/"
                                    style="background-color: #009DDC;">BOOK A TOUR</a></p>

    <h2>WALDORF&#8230;PREPARING YOUR CHILD FOR LIFE</h2>

    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YqjKRJ6-PDU"
                frameborder="0" allowfullscreen></iframe>
    </p>
{% endblock %}
