@font-face {
    font-family: 'Baar Antropos';
    src: url('antrf___-webfont.woff2') format('woff2'),
         url('antrf___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}