{% load i18n staticfiles pages_tags %}
{% spaceless %}

{% if branch_level == 0 %}
<div id="slider">
    <div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-loader="wait" data-cycle-timeout="8000"
         data-cycle-pause-on-hover="true" data-cycle-slides="> div">

        <div class="slide">
            <img height="300" src="{% static 'images/slides/slide1.jpg' %}" alt="slide1"/>
        </div>
        <div class="slide">
            <img height="300" src="{% static 'images/slides/slide2.jpg' %}" alt="slide2"/>
        </div>
        <div class="slide">
            <img height="300" src="{% static 'images/slides/slide3.jpg' %}" alt="slide3"/>
        </div>
    </div>
    <div id="slider-panels">
        <div class="container">
            <div class="row">
                <h2>Verso una nuova educazione</h2>
                {% for page in page_branch %}
                {% if page.in_menu %}
                <div class="col-sm-2">
                    <div class="slider-panel">
                        <a href="{{ page.get_absolute_url }}">
                            <p>{{ page.title }}</p>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
{% for page in page_branch %}
{% if page.in_menu %}
<div class="col-sm-2">
    <div id="1" class="slider-panel">
        <a href="{{ page.get_absolute_url }}">
            <p>{{ page.title }} <br/> <small>{{ page.subtitle }}</small></p>

        </a>
    </div>
</div>
{% endif %}
{% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
{% endfor %}
{% endif %}
{% endspaceless %}



