{% load i18n pages_tags %}
{% spaceless %}

{% if branch_level == 0 %}<nav id="children-nav" style="display:none;"><div class="container"><div class="row"><div class="col-sm-12"><ul id="menu-children-menu" class="children-menu">{% endif %}
{% for page in page_branch %}
    {% if page.is_current_child and page.in_menu %}
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.is_current %}current-page{% endif %}">
        <a href="{{ page.get_absolute_url }}#children-nav">{{ page.title }}</a>
    </li>
    {% endif %}
    {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
{% endfor %}
{% if branch_level == 0 %}</ul></div></div></div></nav>{% endif %}
{% endspaceless %}

